flows.json
[
    {
        "id": "6ebf1db9eeaf6359",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fd30d3570037a98",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4c04ffcc4bafbd0b",
            "47038e874f177091",
            "300f507a70a0aa32",
            "2a34bc87558ebd2e",
            "3a8f900d980d7e64",
            "8749749c0409aa8a",
            "340e09f63d206d78",
            "7f638bd5e743e2a1",
            "513ea71ebcf089e2",
            "bb9850c5deaab23d",
            "ac890888e2c44e8b",
            "74a9554c1dfc04ac",
            "8c67c5804ea34e5d",
            "7b59d1951a1ae750",
            "5f7acdeacb1b5aa2",
            "cd250e6f0f9cadc0"
        ],
        "x": 294,
        "y": 679,
        "w": 672,
        "h": 362
    },
    {
        "id": "8f7a5e02e8f37440",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b6300b550ba75fd0",
            "50b1d830c1384bf9",
            "35f2bf8c66b29ce9",
            "9b9e1730cd262f1b",
            "d36fc1905e03d917",
            "cd7baa25b677b072",
            "e6565dc1137d20ef",
            "468ddbe6b1a664a8",
            "9dbb12e8fe85af74",
            "9d9869a8f3428adf",
            "8f9d99bdfd5a5656",
            "7f5c993d75fcb109"
        ],
        "x": 994,
        "y": 679,
        "w": 532,
        "h": 282
    },
    {
        "id": "1ef3f8d3e8e47324",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c54076763256e746",
            "64b5f827dabceb85",
            "c9b596404c34f615",
            "326bc79613fae454",
            "2bd1f3fc92921ba6",
            "e5dde69be68a9376",
            "7206f1b30aecafea",
            "e1c4746de4c4260a"
        ],
        "x": 1554,
        "y": 679,
        "w": 692,
        "h": 122
    },
    {
        "id": "e4e5a47072330d49",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d5c282cbd1121be",
            "78e318e241d2ccc4",
            "74636c460376a06b",
            "d7a3062c7be80398",
            "a3927147ed309b95",
            "b4b843a35ce8f7ba",
            "9e2a36dfd0457673",
            "a0aa878e20039c03",
            "e02d5d081f6415e2",
            "bed98a0e6d4c8621",
            "6243186a6c337a6e",
            "7b1cfbc9b4f1d9cc"
        ],
        "x": 294,
        "y": 1059,
        "w": 632,
        "h": 202
    },
    {
        "id": "c96f22de0266d63e",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "21397da60bdb8864",
            "75e94bb6ce8e6d59",
            "9cab564c20a42697",
            "90e6d0f49d40ff18",
            "87ef44ca25a58176",
            "74e68fd2c67585ea",
            "4bc72ff0c68fdc36",
            "26fc845e0be7b77e",
            "60b1336afb4d2bc6"
        ],
        "x": 994,
        "y": 999,
        "w": 452,
        "h": 242
    },
    {
        "id": "560f71656e953c4d",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "name": "",
        "style": {
            "label": true
        },
        "nodes": [
            "41011b0743230121",
            "4479dfd723fa1474",
            "b4ab4b466a736feb",
            "5e1f4939f08dcd36",
            "9119e82358dc9f4e",
            "53ef08815a5b03a0",
            "092a04dd90e4c660",
            "b3c09b867ea3cf97",
            "bc91fd81268eaec2"
        ],
        "x": 1474,
        "y": 999,
        "w": 412,
        "h": 242
    },
    {
        "id": "b7a8c115c3c5d35e",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8665e4ec791a12f9",
            "f1e4db316679b0d7",
            "54a223e21112c0c7",
            "2cd6c088b617da62",
            "81661f07bc9b9c0b",
            "f3a28a33905d1c0a",
            "670ec34386515c2e",
            "04dc74cbbb3aca81",
            "b476500fbb0bcaed"
        ],
        "x": 294,
        "y": 1279,
        "w": 632,
        "h": 242
    },
    {
        "id": "9d1e4a369103cafa",
        "type": "group",
        "z": "6ebf1db9eeaf6359",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "933e0ac5977fb0e0",
            "2d59263a308f588b",
            "e3e7ae336272332b",
            "a661c2914f9020eb",
            "164c20a3d2a57ead",
            "1d38f63c7db4aa64",
            "91c4a7dd6ef48214",
            "2bf939c743483235"
        ],
        "x": 994,
        "y": 1279,
        "w": 492,
        "h": 202
    },
    {
        "id": "21397da60bdb8864",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "Prev M",
        "group": "dd7c5d134971279c",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Prev",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "chevron_left",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1080,
        "y": 1120,
        "wires": [
            [
                "4bc72ff0c68fdc36"
            ]
        ]
    },
    {
        "id": "75e94bb6ce8e6d59",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "Next M",
        "group": "dd7c5d134971279c",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Next",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "chevron_right",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1080,
        "y": 1160,
        "wires": [
            [
                "74e68fd2c67585ea"
            ]
        ]
    },
    {
        "id": "4c04ffcc4bafbd0b",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Monster Title",
        "label": "Title",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "47038e874f177091",
        "type": "ui_template",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "name": "Monster Image",
        "order": 2,
        "width": 11,
        "height": 9,
        "format": "<div layout=\"row\" layout-align=\"center\">\n    <img src={{msg.payload}} width=\"467\", height=\"467\"/>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "9d5c282cbd1121be",
        "type": "ui_gauge",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "",
        "group": "fded4fdb753d12a0",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Monster",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ee6897",
            "#f2d85a",
            "#a8ffd7"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 1220,
        "wires": []
    },
    {
        "id": "300f507a70a0aa32",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "Monster HP",
        "label": "HP ",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffffff",
        "x": 670,
        "y": 840,
        "wires": []
    },
    {
        "id": "8665e4ec791a12f9",
        "type": "ui_slider",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "label": "Damage Multiplier",
        "tooltip": "",
        "group": "eeeaa819e4e1d10c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0.1",
        "max": "10",
        "step": "0.1",
        "className": "",
        "x": 410,
        "y": 1360,
        "wires": [
            [
                "f1e4db316679b0d7",
                "2cd6c088b617da62"
            ]
        ]
    },
    {
        "id": "b6300b550ba75fd0",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "group": "5b77f2887f54dcd8",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Final Bosses",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1430,
        "y": 840,
        "wires": []
    },
    {
        "id": "50b1d830c1384bf9",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "name": "",
        "topic": "b6610501955/stats/brawled/mobs",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 720,
        "wires": [
            [
                "468ddbe6b1a664a8"
            ]
        ]
    },
    {
        "id": "78e318e241d2ccc4",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "",
        "topic": "b6610501955/progress/level/curr",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 1100,
        "wires": [
            [
                "9e2a36dfd0457673",
                "e02d5d081f6415e2"
            ]
        ]
    },
    {
        "id": "c54076763256e746",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "",
        "topic": "b6610501955/damage/r",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1680,
        "y": 760,
        "wires": [
            [
                "7206f1b30aecafea"
            ]
        ]
    },
    {
        "id": "2a34bc87558ebd2e",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/vit",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 880,
        "wires": [
            [
                "513ea71ebcf089e2",
                "74a9554c1dfc04ac"
            ]
        ]
    },
    {
        "id": "3a8f900d980d7e64",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/hp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "300f507a70a0aa32",
                "513ea71ebcf089e2"
            ]
        ]
    },
    {
        "id": "8749749c0409aa8a",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/icon",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "47038e874f177091"
            ]
        ]
    },
    {
        "id": "340e09f63d206d78",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/title",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "4c04ffcc4bafbd0b"
            ]
        ]
    },
    {
        "id": "f1e4db316679b0d7",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "topic": "b6610501955/settings/damage/multiplier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "64b5f827dabceb85",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "",
        "topic": "b6610501955/damage/l",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1680,
        "y": 720,
        "wires": [
            [
                "e1c4746de4c4260a"
            ]
        ]
    },
    {
        "id": "7f638bd5e743e2a1",
        "type": "ui_gauge",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "Monster HP Gauge",
        "group": "54fc4b72b7b67328",
        "order": 6,
        "width": 2,
        "height": 2,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "513ea71ebcf089e2",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "function 1",
        "func": "context.hp = context.hp || null;\ncontext.vit = context.vit || null;\n\nlet payload = (msg.payload.endsWith(\"cmb\")) ? msg.payload.replace(\"cmb\", \"\") : msg.payload;\n// let payload = msg.payload;\nif (msg.topic === 'b6610501955/monster/hp') {\n  context.hp = payload;\n} else if (msg.topic === 'b6610501955/monster/vit') {\n  context.vit = payload;\n}\n\nif (context.hp != null && context.vit != null) {\n  let hp = context.hp;\n  let vit = context.vit;\n\n  return {topic: 'hp_percentage', payload: (hp / vit)*100}\n} else {\n  return null\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 720,
        "wires": [
            [
                "7f638bd5e743e2a1"
            ]
        ]
    },
    {
        "id": "54a223e21112c0c7",
        "type": "ui_dropdown",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "label": "Spawning Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "eeeaa819e4e1d10c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Normal",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Endless",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Random Endless",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Level Practice",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Monster Practice",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 420,
        "y": 1480,
        "wires": [
            [
                "81661f07bc9b9c0b"
            ]
        ]
    },
    {
        "id": "74636c460376a06b",
        "type": "ui_gauge",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "",
        "group": "fded4fdb753d12a0",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#595959",
            "#a892d3",
            "#e9c7ff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c9b596404c34f615",
        "type": "trigger",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "750",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2020,
        "y": 720,
        "wires": [
            [
                "326bc79613fae454"
            ]
        ]
    },
    {
        "id": "326bc79613fae454",
        "type": "ui_gauge",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "",
        "group": "37f30fe393c9a794",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "L",
        "label": "DMG",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2170,
        "y": 720,
        "wires": []
    },
    {
        "id": "2bd1f3fc92921ba6",
        "type": "ui_gauge",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "",
        "group": "37f30fe393c9a794",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "R",
        "label": "DMG",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2170,
        "y": 760,
        "wires": []
    },
    {
        "id": "e5dde69be68a9376",
        "type": "trigger",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "750",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2020,
        "y": 760,
        "wires": [
            [
                "2bd1f3fc92921ba6"
            ]
        ]
    },
    {
        "id": "2cd6c088b617da62",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "function 3",
        "func": "global.set(\"multiplier\", msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "7206f1b30aecafea",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "function 4",
        "func": "let mul = global.get(\"multiplier\") || 1;\nmsg.payload *= mul;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 760,
        "wires": [
            [
                "e5dde69be68a9376"
            ]
        ]
    },
    {
        "id": "bb9850c5deaab23d",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/def",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "ac890888e2c44e8b"
            ]
        ]
    },
    {
        "id": "ac890888e2c44e8b",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Monster DEF",
        "label": "DEF",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#a3b2ff",
        "x": 670,
        "y": 920,
        "wires": []
    },
    {
        "id": "74a9554c1dfc04ac",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Monster VIT",
        "label": "VIT ",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ff61bd",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "81661f07bc9b9c0b",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "topic": "b6610501955/settings/spawn_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 690,
        "y": 1480,
        "wires": []
    },
    {
        "id": "41011b0743230121",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "Prev L",
        "group": "dd7c5d134971279c",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Prev",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "chevron_left",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1550,
        "y": 1120,
        "wires": [
            [
                "092a04dd90e4c660"
            ]
        ]
    },
    {
        "id": "4479dfd723fa1474",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "Next L",
        "group": "dd7c5d134971279c",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Next",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "chevron_right",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1550,
        "y": 1160,
        "wires": [
            [
                "53ef08815a5b03a0"
            ]
        ]
    },
    {
        "id": "b4ab4b466a736feb",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "group": "dd7c5d134971279c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Level",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9cab564c20a42697",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "group": "dd7c5d134971279c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Monster",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5e1f4939f08dcd36",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "First L",
        "group": "dd7c5d134971279c",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "First",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "first_page",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1550,
        "y": 1080,
        "wires": [
            [
                "b3c09b867ea3cf97"
            ]
        ]
    },
    {
        "id": "9119e82358dc9f4e",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "Last L",
        "group": "dd7c5d134971279c",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Last",
        "tooltip": "",
        "color": "",
        "bgcolor": "black",
        "className": "",
        "icon": "last_page",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1550,
        "y": 1200,
        "wires": [
            [
                "bc91fd81268eaec2"
            ]
        ]
    },
    {
        "id": "90e6d0f49d40ff18",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "First M",
        "group": "dd7c5d134971279c",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "First",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "first_page",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 1080,
        "wires": [
            [
                "26fc845e0be7b77e"
            ]
        ]
    },
    {
        "id": "87ef44ca25a58176",
        "type": "ui_button",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "Last M",
        "group": "dd7c5d134971279c",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Last",
        "tooltip": "",
        "color": "",
        "bgcolor": "black",
        "className": "",
        "icon": "last_page",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 1200,
        "wires": [
            [
                "60b1336afb4d2bc6"
            ]
        ]
    },
    {
        "id": "53ef08815a5b03a0",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "",
        "topic": "b6610501955/nav/level/next",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1740,
        "y": 1160,
        "wires": []
    },
    {
        "id": "092a04dd90e4c660",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "",
        "topic": "b6610501955/nav/level/prev",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b3c09b867ea3cf97",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "",
        "topic": "b6610501955/nav/level/first",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1740,
        "y": 1080,
        "wires": []
    },
    {
        "id": "bc91fd81268eaec2",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "560f71656e953c4d",
        "name": "",
        "topic": "b6610501955/nav/level/last",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1740,
        "y": 1200,
        "wires": []
    },
    {
        "id": "74e68fd2c67585ea",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "",
        "topic": "b6610501955/nav/monster/next",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1290,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4bc72ff0c68fdc36",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "",
        "topic": "b6610501955/nav/monster/prev",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1290,
        "y": 1120,
        "wires": []
    },
    {
        "id": "26fc845e0be7b77e",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "",
        "topic": "b6610501955/nav/monster/first",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1290,
        "y": 1080,
        "wires": []
    },
    {
        "id": "60b1336afb4d2bc6",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "c96f22de0266d63e",
        "name": "",
        "topic": "b6610501955/nav/monster/last",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 1290,
        "y": 1200,
        "wires": []
    },
    {
        "id": "35f2bf8c66b29ce9",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "name": "",
        "topic": "b6610501955/stats/brawled/bosses",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 760,
        "wires": [
            [
                "e6565dc1137d20ef"
            ]
        ]
    },
    {
        "id": "9b9e1730cd262f1b",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "name": "",
        "topic": "b6610501955/stats/brawled/neo_bosses",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 800,
        "wires": [
            [
                "cd7baa25b677b072"
            ]
        ]
    },
    {
        "id": "d36fc1905e03d917",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "name": "",
        "topic": "b6610501955/stats/brawled/final_bosses",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 840,
        "wires": [
            [
                "b6300b550ba75fd0"
            ]
        ]
    },
    {
        "id": "cd7baa25b677b072",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "group": "5b77f2887f54dcd8",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Neo-Bosses",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1430,
        "y": 800,
        "wires": []
    },
    {
        "id": "e6565dc1137d20ef",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "group": "5b77f2887f54dcd8",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Bosses",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1420,
        "y": 760,
        "wires": []
    },
    {
        "id": "468ddbe6b1a664a8",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "group": "5b77f2887f54dcd8",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Mobs",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 720,
        "wires": []
    },
    {
        "id": "9dbb12e8fe85af74",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "group": "5b77f2887f54dcd8",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Total",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 880,
        "wires": []
    },
    {
        "id": "9d9869a8f3428adf",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "name": "",
        "topic": "b6610501955/stats/brawled/total",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 880,
        "wires": [
            [
                "9dbb12e8fe85af74"
            ]
        ]
    },
    {
        "id": "e1c4746de4c4260a",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "1ef3f8d3e8e47324",
        "name": "function 5",
        "func": "let mul = global.get(\"multiplier\") || 1;\nmsg.payload *= mul;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 720,
        "wires": [
            [
                "c9b596404c34f615"
            ]
        ]
    },
    {
        "id": "8f9d99bdfd5a5656",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "name": "",
        "topic": "b6610501955/stats/playthroughs",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "7f5c993d75fcb109"
            ]
        ]
    },
    {
        "id": "7f5c993d75fcb109",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "8f7a5e02e8f37440",
        "group": "5b77f2887f54dcd8",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Playthroughs",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1430,
        "y": 920,
        "wires": []
    },
    {
        "id": "f3a28a33905d1c0a",
        "type": "ui_switch",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "label": "Disable Negation",
        "tooltip": "",
        "group": "eeeaa819e4e1d10c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 1400,
        "wires": [
            [
                "b476500fbb0bcaed"
            ]
        ]
    },
    {
        "id": "670ec34386515c2e",
        "type": "ui_switch",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "label": "Disable Healing",
        "tooltip": "",
        "group": "eeeaa819e4e1d10c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 1440,
        "wires": [
            [
                "04dc74cbbb3aca81"
            ]
        ]
    },
    {
        "id": "04dc74cbbb3aca81",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "topic": "b6610501955/settings/damage/disable_reverse",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "b476500fbb0bcaed",
        "type": "mqtt out",
        "z": "6ebf1db9eeaf6359",
        "g": "b7a8c115c3c5d35e",
        "name": "",
        "topic": "b6610501955/settings/damage/disable_negate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b4057b0d8eecd0c3",
        "x": 720,
        "y": 1400,
        "wires": []
    },
    {
        "id": "8c67c5804ea34e5d",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Monster %MISS",
        "label": "%MISS",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#ffaf85",
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "7b59d1951a1ae750",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "group": "54fc4b72b7b67328",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "Monster %HEAL",
        "label": "%HEAL",
        "format": "{{msg.payload}} ",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "24",
        "color": "#a3ffd7",
        "x": 680,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5f7acdeacb1b5aa2",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/negate",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "8c67c5804ea34e5d"
            ]
        ]
    },
    {
        "id": "cd250e6f0f9cadc0",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "1fd30d3570037a98",
        "name": "",
        "topic": "b6610501955/monster/reverse",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "7b59d1951a1ae750"
            ]
        ]
    },
    {
        "id": "d7a3062c7be80398",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "",
        "topic": "b6610501955/progress/level/max",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "9e2a36dfd0457673",
                "e02d5d081f6415e2"
            ]
        ]
    },
    {
        "id": "a3927147ed309b95",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "",
        "topic": "b6610501955/progress/monster/curr",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "a0aa878e20039c03",
                "bed98a0e6d4c8621"
            ]
        ]
    },
    {
        "id": "b4b843a35ce8f7ba",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "",
        "topic": "b6610501955/progress/monster/max",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 1220,
        "wires": [
            [
                "a0aa878e20039c03",
                "bed98a0e6d4c8621"
            ]
        ]
    },
    {
        "id": "9e2a36dfd0457673",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "function 6",
        "func": "context.curr_lvl = context.curr_lvl || null;\ncontext.max_lvl = context.max_lvl || null;\n\nif (msg.topic.endsWith(\"/level/curr\")) {\n  context.curr_lvl = msg.payload;\n} else if (msg.topic.endsWith(\"/level/max\")) {\n  context.max_lvl = msg.payload;\n}\n\nif (context.curr_lvl != null && context.max_lvl != null) {\n  let lvl = context.curr_lvl;\n  let max_lvl = context.max_lvl;\n\n  return {topic: 'lvl_percentage', payload: (lvl / max_lvl)*100}\n} else {\n  return null\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1140,
        "wires": [
            [
                "74636c460376a06b"
            ]
        ]
    },
    {
        "id": "a0aa878e20039c03",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "function 7",
        "func": "context.curr_monster = context.curr_monster || null;\ncontext.max_monster = context.max_monster || null;\n\nif (msg.topic.endsWith(\"/monster/curr\")) {\n  context.curr_monster = msg.payload;\n} else if (msg.topic.endsWith(\"/monster/max\")) {\n  context.max_monster = msg.payload;\n}\n\nif (context.curr_monster != null && context.max_monster != null) {\n  let curr_monster = context.curr_monster;\n  let max_monster = context.max_monster;\n\n  return {topic: 'monster_percentage', payload: (curr_monster / max_monster)*100}\n} else {\n  return null\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1220,
        "wires": [
            [
                "9d5c282cbd1121be"
            ]
        ]
    },
    {
        "id": "e02d5d081f6415e2",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "function 8",
        "func": "context.curr_lvl = context.curr_lvl || null;\ncontext.max_lvl = context.max_lvl || null;\n\nif (msg.topic === \"b6610501955/progress/level/curr\") {\n  context.curr_lvl = msg.payload;\n} else if (msg.topic === \"b6610501955/progress/level/max\") {\n  context.max_lvl = msg.payload;\n}\n\nif (context.curr_lvl != null && context.max_lvl != null) {\n  let curr_lvl = context.curr_lvl;\n  let max_lvl = context.max_lvl;\n\n  return {topic: 'lvl_percentage', payload: `${curr_lvl} / ${max_lvl}`}\n} else {\n  return null\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "6243186a6c337a6e"
            ]
        ]
    },
    {
        "id": "bed98a0e6d4c8621",
        "type": "function",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "name": "function 9",
        "func": "context.curr_monster = context.curr_monster || null;\ncontext.max_monster = context.max_monster || null;\n\nif (msg.topic.endsWith(\"/monster/curr\")) {\n  context.curr_monster = msg.payload;\n} else if (msg.topic.endsWith(\"/monster/max\")) {\n  context.max_monster = msg.payload;\n}\n\nif (context.curr_monster != null && context.max_monster != null) {\n  let curr_monster = context.curr_monster;\n  let max_monster = context.max_monster;\n\n  return {topic: 'monster_percentage', payload: `${curr_monster} / ${max_monster}`}\n} else {\n  return null\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1180,
        "wires": [
            [
                "7b1cfbc9b4f1d9cc"
            ]
        ]
    },
    {
        "id": "6243186a6c337a6e",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "group": "fded4fdb753d12a0",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7b1cfbc9b4f1d9cc",
        "type": "ui_text",
        "z": "6ebf1db9eeaf6359",
        "g": "e4e5a47072330d49",
        "group": "fded4fdb753d12a0",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Monster",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 1180,
        "wires": []
    },
    {
        "id": "933e0ac5977fb0e0",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "name": "",
        "topic": "b6610501955/notify/info",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1120,
        "y": 1320,
        "wires": [
            [
                "2bf939c743483235"
            ]
        ]
    },
    {
        "id": "2d59263a308f588b",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "name": "",
        "topic": "b6610501955/notify/warning",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 1360,
        "wires": [
            [
                "91c4a7dd6ef48214"
            ]
        ]
    },
    {
        "id": "e3e7ae336272332b",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "name": "",
        "topic": "b6610501955/notify/damage",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 1400,
        "wires": [
            [
                "1d38f63c7db4aa64"
            ]
        ]
    },
    {
        "id": "a661c2914f9020eb",
        "type": "mqtt in",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "name": "",
        "topic": "b6610501955/notify/congrats",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b4057b0d8eecd0c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 1440,
        "wires": [
            [
                "164c20a3d2a57ead"
            ]
        ]
    },
    {
        "id": "164c20a3d2a57ead",
        "type": "ui_toast",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Yay!",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Congratulations!",
        "name": "",
        "x": 1350,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "1d38f63c7db4aa64",
        "type": "ui_toast",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Damage",
        "name": "",
        "x": 1370,
        "y": 1400,
        "wires": []
    },
    {
        "id": "91c4a7dd6ef48214",
        "type": "ui_toast",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Warning",
        "name": "",
        "x": 1370,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2bf939c743483235",
        "type": "ui_toast",
        "z": "6ebf1db9eeaf6359",
        "g": "9d1e4a369103cafa",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Info",
        "name": "",
        "x": 1370,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7e860db6d67a9a88",
        "type": "ui_spacer",
        "z": "6ebf1db9eeaf6359",
        "name": "spacer",
        "group": "54fc4b72b7b67328",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "8f44d2c20d11d896",
        "type": "ui_spacer",
        "z": "6ebf1db9eeaf6359",
        "name": "spacer",
        "group": "fded4fdb753d12a0",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e37dddd1c01e23b7",
        "type": "ui_spacer",
        "z": "6ebf1db9eeaf6359",
        "name": "spacer",
        "group": "fded4fdb753d12a0",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "92cd9593b2869354",
        "type": "ui_spacer",
        "z": "6ebf1db9eeaf6359",
        "name": "spacer",
        "group": "fded4fdb753d12a0",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "888434ab6910e2e6",
        "type": "ui_spacer",
        "z": "6ebf1db9eeaf6359",
        "name": "spacer",
        "group": "fded4fdb753d12a0",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "dd7c5d134971279c",
        "type": "ui_group",
        "name": "Navigation",
        "tab": "822af566328250e1",
        "order": 5,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "54fc4b72b7b67328",
        "type": "ui_group",
        "name": "Arena",
        "tab": "822af566328250e1",
        "order": 2,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fded4fdb753d12a0",
        "type": "ui_group",
        "name": "Progress",
        "tab": "822af566328250e1",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eeeaa819e4e1d10c",
        "type": "ui_group",
        "name": "Settings",
        "tab": "822af566328250e1",
        "order": 6,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b77f2887f54dcd8",
        "type": "ui_group",
        "name": "Stats",
        "tab": "822af566328250e1",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": "",
        "info": "as"
    },
    {
        "id": "b4057b0d8eecd0c3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "37f30fe393c9a794",
        "type": "ui_group",
        "name": "Damage",
        "tab": "822af566328250e1",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "822af566328250e1",
        "type": "ui_tab",
        "name": "Monster Brawler",
        "icon": "fa-gamepad",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]